<!--Layout Customized HTML-->
<div class="jumbotron">
  <h1 class="display-4 text-center"><img src="assets/images/Logomakr3.png">Tech Cloud <img id="cloud" src="assets/images/cloud5.png"></h1>
  	<p class="lead- text-center" id="bar">Latest Tech News & Industry Updates</p>
  <hr class="my-4">
</div>

	<br>

<div class="container">
	<div class="row">
	  <div id="wrapper">
      <h1 id="title">Articles</h1>
      <br>

      <div id="comments">
        {{#each articles}}
          <h2><a href={{link}} id="art">{{title}}</a></h2>
          <p>{{summary}}</p>
          {{#each note}}
          
          <h2>{{body}}</h2>
        
        <form action="/deletecomment/{{_id}}/{{../_id}}" method="POST">
              <button type="submit" class="btn btn-primary">Delete</button>
        </form>

          {{/each}}
        
        <form action="/comment/{{_id}}" method="POST">
          <div class="form-group">
            <label for="exampleInputEmail1">Title</label>
            <input type="text" name="title" class="form-control" id="exampleInputEmail1" placeholder=" Enter article title">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Comment</label>
            <input type="text" name="body" class="form-control" id="input" placeholder="Enter comments">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
          {{/each}}


      </div>
    </div>
	</div>      
</div>